# ACCOUNT 
#
ACCOUNT_PUBLIC_KEY=0x2C260699603E31593fB66E6D6Cd0De5D8148c7c5

#INFRA_ID=9aa3d95b3bc440fa88ea12eaa4456161

ETHERSCAN_API_KEY=1913VJ5P64N8R5HBEGQ4YT88QPESMT3E49
BSCSCAN_API_KEY=C2Y9B3EYPJQC1K1PUV7B15FVT9ZCVH3RTM

# RINKEBY
TESTNET_WSS_URL = wss://eth-rinkeby.alchemyapi.io/v2/vAQGLxQXiYIWXYDEjHX_huSpSxhaAJs3
TESTNET_HTTP_URL = https://eth-rinkeby.alchemyapi.io/v2/vAQGLxQXiYIWXYDEjHX_huSpSxhaAJs3

# HARDHAT
# TESTNET_WSS_URL = wss://5.182.17.19:8545
# TESTNET_HTTP_URL = https://5.182.17.19:8545

# MAINNET
MAINNET_HTTP_URL = https://speedy-nodes-nyc.moralis.io/7588301a76eb2417244244c0/bsc/mainnet
MAINNET_WSS_URL = wss://speedy-nodes-nyc.moralis.io/7588301a76eb2417244244c0/bsc/mainnet/ws

# FRONTEND
#
REACT_APP_API_URL=/api
# REACT_APP_SOCKET_SERVER_URL = wss://cryptoburgers.io/socket
# REACT_APP_SOCKET_SERVER_URL = ws://localhost:3001/
REACT_APP_SOCKET_SERVER_URL = ws://cryptoburgers.io:3000/

# BACKEND
#
APP_PORT=8080
SOCKET_PORT=3000

APP_PORT_DEVELOPMENT=8081
SOCKET_PORT_DEVELOPMENT=3001