
.modal-dialog {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}
.modal-content {
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
  
    $border: 5px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, red, orange);
    }
}
.modal-body {
  padding: 0;
}
